{:paths ["."]
 :tasks {:requires ([unwordle]
                    [babashka.fs :as fs]
                    [babashka.curl :as curl]
                    [clojure.java.io :as io]
                    [clojure.string :as str])
         clean (do (fs/delete-tree (fs/parent (deref unwordle/file)))
                   (fs/delete unwordle/corpus-ref))
         corpus (when-not (fs/exists? unwordle/file)
                  (println "no corpus found. fetching from: " unwordle/corpus-remote)
                  (io/copy (:body (curl/get unwordle/corpus-remote {:as :bytes}))
                           (io/file unwordle/file)))
         solve {:depends [corpus]
                :task (unwordle/solve *command-line-args*)}}}
